html {
    background: hsl(192, 77%, 53%);
    color: hsl(0, 0%, 100%);
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-y: scroll;
}

::-moz-selection{
    background: hsl(53, 100%, 70%);
    color: hsl(0, 0%, 0%);
    text-shadow: none;
}

::selection {
    background: hsl(53, 100%, 70%);
    color: hsl(0, 0%, 0%);
    text-shadow: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font: 400 100%/1.5 'BPreplay', sans-serif;
    height: 100%;
    margin: 0 auto;
}

.results {
    box-shadow: 0 8px 0 hsla(192, 77%, 33%, .2);
}

.result {
    border-bottom: 1px dashed hsla(0,0%,100%,.4);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    padding: 3rem 0;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 2px hsla(192, 77%, 33%, .6);
}

.result:last-child {
    border-bottom: none;
    border-right: none;
}

.time {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.result:hover .time {
    top: 49%;
}

.result:after {
    color: hsla(0, 0%, 100%, .6);
    content: "or";
    font-size: .875rem;
    line-height: 1.714;
    font-weight: 400;
    font-style: italic;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: -12px;
    text-align: center;
    text-shadow: none;
    width: 100%;
}

.result:last-child:after {
    content: "";
}

sup {
    color: hsla(0, 0%, 100%, .6);
    font-size: .25em;
    letter-spacing: .08em;
    line-height: 0;
    position: relative;
    text-transform: uppercase;
    top: -2em;
    text-shadow: none;
    vertical-align: baseline;
}

.opening {
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
    margin: 0;
    padding: 1.5rem;
    padding-bottom: 0;
    text-align: center;
}

.about {
    background-color: hsla(192, 77%, 33%, .6);
    font-size: .875rem;
    line-height: 1.714;
    margin: 0;
    padding: 1.5rem;
}

@media screen and (min-width: 40em) {
    html {
        background: -webkit-linear-gradient(90deg, hsl(192, 77%, 53%) 10%, hsl(63, 50%, 85%) 90%);
        background:    -moz-linear-gradient(90deg, hsl(192, 77%, 53%) 10%, hsl(63, 50%, 85%) 90%);
        background:     -ms-linear-gradient(90deg, hsl(192, 77%, 53%) 10%, hsl(63, 50%, 85%) 90%);
        background:      -o-linear-gradient(90deg, hsl(192, 77%, 53%) 10%, hsl(63, 50%, 85%) 90%);
        background:         linear-gradient(90deg, hsl(192, 77%, 53%) 10%, hsl(63, 50%, 85%) 90%);
    }

    .results {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        overflow: hidden;
    }

    .result {
        border-bottom: none;
        border-right: 1px dashed hsla(0,0%,100%,.4);
        height: 100%;
        padding: 0;
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        text-align: center;
        text-shadow: 1px 1px 2px hsla(192, 77%, 33%, .6);
    }

    .result:after {
        top: 50%;
        right: -1em;
        transform: translateY(-50%);
        width: 2em;
    }

    .time {
        position: absolute;
        top: 50%;
        text-align: center;
        transform: translateY(-50%);
        -webkit-transition: top .1s ease-out;
                transition: top .1s ease-out;
        width: 100%;
    }

    .opening {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}
