html {
    background: -webkit-linear-gradient(90deg, hsl(192, 77%, 53%) 10%, hsl(63, 50%, 85%) 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, hsl(192, 77%, 53%) 10%, hsl(63, 50%, 85%) 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, hsl(192, 77%, 53%) 10%, hsl(63, 50%, 85%) 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, hsl(192, 77%, 53%) 10%, hsl(63, 50%, 85%) 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, hsl(192, 77%, 53%) 10%, hsl(63, 50%, 85%) 90%); /* W3C */
    color: hsl(0, 0%, 100%);
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-y: scroll;
}

::-moz-selection{
    background: hsl(53, 100%, 70%);
    color: hsl(0, 0%, 0%);
    text-shadow: none;
}

::selection {
    background: hsl(53, 100%, 70%);
    color: hsl(0, 0%, 0%);
    text-shadow: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font: 400 100%/1.5 'BPreplay', sans-serif;
    height: 100%;
    margin: 0 auto;
}

.results {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
}

.result {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    text-shadow: 1px 1px 2px hsla(192, 77%, 33%, .6);
}

sup {
    color: hsla(0, 0%, 100%, .6);
    font-size: .25em;
    letter-spacing: .08em;
    line-height: 0;
    position: relative;
    text-transform: uppercase;
    top: -2em;
    text-shadow: none;
    vertical-align: baseline;
}

.about {
    margin: 0;
    padding: 1.5rem;
}
